
html, body {
    width: 100%;
    height: 100%;
}

.login-bg {
    width: 100%;
    height: 100%;
    background: url("../../images/login_bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.login-box {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -200px;
}

.logo {
    width: 100%;
    height: 52px;
    background: url("../../images/login_logo.png") center center no-repeat;
}

.welcome-text {
    margin: 15px 0 20px 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.login {
    width: 340px;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
}

.login-type {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
}

.login-type li {
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
    color: #9c9c9c;
    cursor: pointer;
}

.login-type li.active {
    color: #282828;
    border-bottom: 2px solid #282828;
}

/*.login-type li:hover{*/
/*color: #282828;*/
/*border-bottom: 2px solid #282828;*/
/*}*/

.login-form-box {
    margin: 20px 0 10px 0;
    min-height: 158px;
    position: relative;
}

.login-form-box input[type='text'], .login-form-box input[type='password'] {
    width: 298px;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    background-color: #f4f4f4;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
}

.login-form-box input[type='text'] {
    margin-bottom: 20px;
}

.login-form-box input[type='submit'] {
    width: 100%;
    background-color: #ff7519;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.login-form-box input[type='submit']:hover {
    background-color: #e66d1d;
}

.send-box {
    width: 100%;
    position: relative;
}

.send {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    padding: 9px;
    border-radius: 4px;
    color: #fff;
}

.no-send {
    background-color: #ff7519;
    cursor: pointer;
}

.has-send {
    background-color: #dddddd;
    cursor: default;
}

.checkbox {
    position: relative;
    height: 30px;
}

.checkbox input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.checkbox label {
    position: absolute;
    left: 30px;
    top: 0;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    font-size: 14px;
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    left: -24.5px;
    top: 2.5px;
    width: 4px;
    height: 8px;
    border: 0;
    border-right: 1px solid #ff8300;
    border-bottom: 1px solid #ff8300;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.checkbox input[type='checkbox']:checked + label:before {

}

.checkbox input[type='checkbox']:checked + label:after {
    opacity: 1;
}

.checkbox input[type='checkbox']:checked + label em {
    color: #333;
}

.checkbox label em {
    font-style: normal;
    margin-left: -10px;
    color: #999999;
}

.choose li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #999999;
}

.choose li:last-child {
    padding-right: 0;
    border-right: none;
}

.choose li a {
    color: #999999;
    font-size: 14px;
}

.choose li a:hover {
    color: #333;
}

.third {
    margin-top: 15px;
    text-align: center;
}

.third-title {
    font-size: 16px;
    color: #999999;
}

.third-name {
    display: inline-block;
    overflow: hidden;
    margin-top: 30px;
}

.third-name li {
    float: left;
    margin-right: 20px;
}

.third-name li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    background-color: #dddddd;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #ddd;
}

.third-name li:last-child {
    margin-right: 0;
}

.third-name li.wechat a:hover {
    background-color: transparent;
    border-color: #40af37;
    color: #40af37;
}

.third-name li.weibo a:hover {
    background-color: transparent;
    border-color: #ea5d5c;
    color: #ea5d5c;
}

.third-name li.QQ a:hover {
    background-color: transparent;
    border-color: #4cafe9;
    color: #4cafe9;
}

.copy {
    text-align: center;
}

.language {
    display: inline-block;
    margin-top: 20px;
}

.language li {
    float: left;
    border-right: 1px solid #fec808;
}

.language li a {
    display: block;
    color: #fec808;
    padding: 0 20px;
    font-size: 14px;
}

.language li.active a {
    color: #fff;
}

.language li:last-child {
    border-right: none;
}

.copy p {
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
}

.loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -25px;
    font-size: 50px;
    color: #ff7519;
}

