
body {
    background-color: #f4f4f4;
}

.box {
    position: absolute;
    width: 1000px;
    left: 50%;
    top: 50%;

    margin: -260px 0 0 -500px;
}

.logo-box {
    height: 52px;
}
.logo{
    height: 100%;
}
.logo img {
    height: 100%;
}
.slogan{
    height: 100%;
    line-height: 52px;
    font-size: 18px;
    color: #433b3b;
    margin-left: 20px;
}
.nav-title {
    height: 52px;
}

.nav-title li {
    float: left;
    font-size: 14px;
    color: #555555;
    padding: 0 10px;
    margin-top: 20px;
}

.nav-title li:first-child {
    border-right: 1px solid #555555;
}

.nav-title li a {
    color: #f75001;
}

.title{
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
    background: url("../../images/search_bg.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 4px 4px 0 0;
}

.content{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    padding: 30px 0 20px 0;
    text-align: center;
}
.content form{
    width: 330px;
    position: relative;
    margin: 0 auto;
}
.phone-box{
    position: relative;
}
.area-code{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    color: #666868;
    cursor: pointer;
}
.area-choose{
    position: absolute;
    width: 440px;
    top: 40px;
    z-index: 999999;
    background-color: #fff;
    border: 1px solid #ebeef5;
    box-shadow:  0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    left: -10px;
    padding: 10px;
}
.arrow{
    position: absolute;
    display: block;
    left: 25px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -6px;
    margin-right: 3px;
    border-width: 6px;
    border-top-width: 0;
    border-bottom-color: #ebeef5;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
}
.arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: " ";
    border-width: 6px;
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fff;

}
.area-choose li{
    float: left;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    color: #606266;
    outline: none;
    margin: 0;
    border-radius: 4px;
}
.area-choose li.active,.area-choose li:hover{
    color: #fff;
    background-color: #f75001;
}
.content form input[type='text'],.content form input[type='button']{
    width: 100%;
    border-radius: 4px;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
}
.content form .phone-box input[type='text']{
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
    text-indent: 60px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.content form input[type='button']{
    background-color: #ff7519;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
}
.content form input[type='button']:hover{
    opacity: .8;
}
.content form .code-box{
    display: none;
}
.content form .code-box input[type='text']{
    margin: 20px 0;
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
    text-indent: 10px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.slider-bar-drag{
    position: relative;
    width: 100%;
    height: 34px;
    background-color: #e8e8e8;
    line-height: 34px;
    border: 1px solid #e8e8e8;
    margin: 20px 0;
    border-radius: 4px;
}
.slider-bar-bg{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #7ac23c;
    color: #fff;
    overflow: hidden;
    font-size: 12px;
    z-index: 1;
    border-radius: 4px 0 0 4px;
    user-select: none;
}
.slider-bar-text{
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: left;
    text-indent: 60px;
    user-select: none;
    color:#9ea0a0;
    font-size: 12px;
    border-radius: 4px;
    cursor: default;
}
.slider-bar-btn{
    position: absolute;
    width: 40px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #a6a6b0;
    z-index: 2;
    border-radius: 4px;
}
.checkbox {
    position: relative;
    height: 30px;
}
.checkbox input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
    z-index: 99;
    margin:0;
    padding: 0;
    cursor: pointer;
}
.checkbox label {
    position: absolute;
    left: 30px;
    top: 0;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    font-size: 14px;
}
.checkbox label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: -1px;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    left: -24.5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: 0;
    border-right: 1px solid #ff8300;
    border-bottom: 1px solid #ff8300;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.checkbox input[type='checkbox']:checked + label:before {

}
.checkbox input[type='checkbox']:checked + label:after {
    opacity: 1;
}
/*.checkbox input[type='checkbox']:checked + label em{*/
    /*color:#333;*/
/*}*/
.checkbox label em{
    font-style: normal;
    margin-left: -10px;
    color: #999999;
    font-size: 14px;
}
.checkbox label em a{
    color: #ff7519;
}
.third{
    width: 330px;
    margin: 30px auto 0;
}
.third-title{
    font-size: 14px;
    color:#999999;
    margin-top: 6px;
}
.third-name{
    display: inline-block;
    overflow: hidden;
    margin-left: 30px;
}
.third-name li{
    float: left;
    margin-right: 20px;
}
.third-name li a{
    display: block;
    width: 28px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    background-color: #dddddd;
    border-radius: 50%;
    color:#fff;
    border: 2px solid #ddd;
}
.third-name li:last-child{
    margin-right: 0;
}
.third-name li.wechat a:hover{
    background-color: transparent;
    border-color: #40af37;
    color: #40af37;
}
.third-name li.weibo a:hover{
    background-color: transparent;
    border-color: #ea5d5c;
    color: #ea5d5c;
}
.third-name li.QQ a:hover{
    background-color: transparent;
    border-color: #4cafe9;
    color: #4cafe9;
}

.copy{
    text-align: center;
}
.language{
    display: inline-block;
    margin-top: 20px;
}
.language li{
    float: left;
    border-right: 1px solid #fec808;
}
.language li a{
    display: block;
    color: #fec808;
    padding: 0 20px;
    font-size: 14px;
}
.language li.active a{
    color: #434343;
}
.language li:last-child{
    border-right: none;
}
.copy p{
    color: #565656;
    margin-top: 20px;
    font-size: 14px;
}
.copy p a{
    color: #565656;
}
.section {
    width: 100%;
    height: auto;
    margin-top: 20px;
}