<div class="footer-container">
    <div class="footer">
        <div class="footer-top">
            <div class="footer-logo fl"><a href="./"><img src="../../images/logo_footer.png"></a></div>
            <ul class="footer-nav fl">
                <li html="about"><a href="javascript:;" data-i18n="nav.about"></a></li>
                <li html="order"><a href="javascript:;" data-i18n="nav.protocol"></a></li>
                <li html="notice"><a href="javascript:;" data-i18n="nav.activity"></a></li>
            </ul>
            <ul class="language-nav fr">
                <li lang="cn" class="cn" data-i18n="[title]language.cn"><a href="javascript:;"></a></li>
                <li lang="en" class="en" data-i18n="[title]language.en"><a href="javascript:;"></a></li>
                <li lang="ru" class="ru" data-i18n="[title]language.ru"><a href="javascript:;"></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <div class="content fl">
                <p>矿池QQ群:  218704634(满)&nbsp;&nbsp;586248750(满)&nbsp;&nbsp;642013005(满)&nbsp;&nbsp;518761912</p>
                <p>商务合作：support@91pool.com<span class="pc-copyright">© 91 Pool <a href="http://www.miitbeian.gov.cn/">沪ICP备16035023号-2</a></span></p>
                <p class="phone-copyright">© 91 Pool <a href="http://www.miitbeian.gov.cn/">沪ICP备16035023号-2</a></p>
            </div>
            <ul class="contact fr">
                <!--<li><i class="fa fa-facebook"></i></li>-->
                <!--<li><i class="fa fa-twitter"></i></li>-->
                <!--<li><i class="fa fa-linkedin"></i></li>-->
                <!--<li><i class="fa fa-wechat"></i></li>-->
                <!--<li><i class="fa fa-weibo"></i></li>-->
                <!--<li><i class="fa fa-telegram"></i></li>-->
                <!--<li><i class="fa fa-youtube"></i></li>-->
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="bottom-line"></div>