<div class="top-line"></div>

<!--PC端 header-->
<div class="header">
    <ul class="left-nav fl">
        <li><a href="./" data-i18n="nav.home"></a></li>
        <li>
            <a class="dropdown" href="javascript:;"><span data-i18n="nav.pool"></span><i class="fa fa-angle-down"
                                                                                         style="margin-left: 10px;color:#aaa;"></i></a>
            <ul class="dropdown-menu">
                <li type="etc"><a href="javascript:;">ETC</a></li>
                <li type="hsr"><a href="javascript:;">HSR</a></li>
                <li type="etf"><a href="javascript:;">ETF</a></li>
                <li type="lch"><a href="javascript:;">LCH</a></li>
            </ul>
        </li>
        <!--<li><a href="javascript:;"><span data-i18n="nav.support"></span><i class="fa fa-exclamation-circle"></i></a></li>-->
    </ul>
    <div class="header-logo"><a href="./"><img src="../../images/logo_header.png"></a></div>
    <div class="fr language">
        <a class="lang" href="javascript:;">loading</a>
        <ul class="chooseLang">
            <li lang="cn"><a href="javascript:;" data-i18n="language.cn"></a></li>
            <li lang="en"><a href="javascript:;" data-i18n="language.en"></a></li>
            <!--<li lang="ru"><a href="javascript:;" data-i18n="language.ru"></a></li>-->
        </ul>
    </div>
    <!--未登录状态-->
    <!--<ul class="right-nav fr">-->
    <!--<li><a class="login" id="login" href="javascript:;" data-i18n="nav.login"></a></li>-->
    <!--<li><a class="register" id="register" href="javascript:;" data-i18n="nav.register"></a></li>-->
    <!--</ul>-->

    <!--登陆状态-->
    <!--<ul class="right-nav fr">-->
    <!--<li class="username"><a href="javascript:;">得得得得的的的的</a></li>-->
    <!--<li class="logout"><a href="javascript:;" data-i18n="nav.logout"></a></li>-->
    <!--</ul>-->

    <div class="clear"></div>
</div>

<!--移动端header-->
<div class="phone-header" style="display: none;">
    <a class="fl phone-help" href="javascript:;"><span data-i18n="nav.pool"></span>&nbsp;<i
            class="fa fa-angle-down"></i></a>
    <div class="phone-menu">
        <a href="javascript:;" type="etc">ETC</a>
        <a href="javascript:;" type="hsr">HSR</a>
        <a href="javascript:;" type="etf">ETF</a>
        <a href="javascript:;" type="lch">LCH</a>
    </div>
    <div class="header-logo"><a href="./"><img src="../../images/logo_header.png"></a></div>
    <a class="fr phone-chooselang" href="javascript:;"></a>
    <ul class="phone-lang">
        <a lang="cn" href="javascript:;" data-i18n="language.cn"></a>
        <a lang="en" href="javascript:;" data-i18n="language.en"></a>
        <!--<a lang="ru" href="javascript:;" data-i18n="language.ru"></a>-->
    </ul>
</div>