
.btm-title {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.btm-title li {
    float: left;
    color: #f86601;
    margin: 0 12px 0 12px;
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btm-title li.active {
    background-color: #f86601;
    color: #fff;
}

.btmTeach-title {
    color: #fff;
}

/*挖矿教程*/
.teach {
    width: 100%;
    background: url("../../images/teach_bg.jpg") repeat;
    background-size: auto;
}

.time-line {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.time-line:before {
    content: "";
    display: block;
    width: 1px;
    border-right: 1px solid #fff;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
}

.teach-info {
    width: 100%;
    padding: 40px 0;
}

.teach-info li {
    margin-bottom: 50px;
}

.teach-info li .step {
    position: absolute;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    background-color: #f86601;
}

.teach-info li .content > p {
    text-align: left;
    padding-left: 30px;
    color: #fec711;
    font-size: 18px;
    margin-bottom: 20px;
}

.teach-info li .content > div {
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    line-height: 30px;
}

.teach-info li .content > div a {
    color: #57bcda;
}

.teach-info li .content > div p {
    border: 1px dashed #fff;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;
}

.section {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
}

/*兼容分辨率*/

@media (max-width: 700px) {
    .search-box {
        height: 155px !important;
    }

    .search-box .form {
        width: 80%;
        margin: -18px 0 0 -40%;
    }

    .search-box .form span {
        top: 7px;
    }

    .search-box .form input[type='text'], .search-box .form input[type='button'] {
        -webkit-appearance: none;
    }

    .search-box .form input[type='text'] {
        width: calc(100% - 92px);
        height: 17px;
        line-height: 17px;
        padding: 5px 0 5px 30px !important;
        box-shadow: none;
    }

    .search-box .form input[type='button'] {
        height: 29px;
        line-height: 29px;
        width: 60px;
    }

    .coin-title {
        width: 100%;
    }

    .coin-title li {
        width: 19%;
    }

    .teach-info {
        width: auto;
        padding: 40px 10px;
    }

    .time-line:before {
        left: 15px;
    }

    .teach-info li .step {
        left: 6px;
    }

    .content {
        word-wrap: break-word;
    }

    .content img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .section {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .section {
        width: 1170px;
    }
}