
.maxHeight {
    height: 100%;
}

.section {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.title-box {
    margin: 30px 0 15px 0;
}

.author-box {
    margin-bottom: 15px;
}

.text {
    padding: 8px 0;
    border: 1px solid #ccc;
    width: 100%;
    text-indent: 8px;
    font-size: 16px;
    outline: none;
}

.button-box {
    margin: 15px 0 30px 0;
}

.submit {
    border: none;
    color: #fff;
    background-color: #f86601;
    padding: 6px 20px;
    cursor: pointer;
}

/*.submit:hover{*/
/*background-color: ;*/
/*}*/
.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -73px 0 0 -200px;
}

.loginForm input {
    width: 398px;
    padding: 10px 0;
    margin-bottom: 15px;
    text-indent: 10px;
    outline: none;
    font-size: 14px;
    border: 1px solid #ccc;
}

.loginForm input:focus {
    border-color: #40af37;
}

.loginForm button {
    width: 400px;
    padding: 10px 0;
    text-align: center;
    border: none;
    background-color: #f86601;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

/*显示登录的样式*/
.maxHeight .top-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.maxHeight .header {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
}

.maxHeight .login-box {
    position: absolute;
    top: 118px;
    left: 0;
    right: 0;
    bottom: 264px;
}

.maxHeight .footer-container {
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
}

.maxHeight .bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*兼容分辨率*/

@media (max-width: 640px) {

}

@media (min-width: 768px) and (max-width: 992px) {
    .section {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .section {
        width: 1170px;
    }
}