<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>关于我们 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")
<div class="banner"></div>

<div class="about-box">
    <div class="section">
        <div class="about">
            91pool是91团队为广大矿工朋友提供相关的挖矿服务的相关平台。
            <br><br>
            91pool以提供相关矿池服务为起点，在区块链应用等领域具有深厚的技术积累，并在此基础上推出多个有影响力的数字货币矿池。
            <br><br>
            2016年8月，91pool矿池正式上线，随后相继推出了ETC矿池、HSR矿池、ETF矿池以及LCH矿池，并成为行业中具有一定影响力的综合性矿池。
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>