<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>关于我们 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")
<div class="banner"></div>

<div class="about-box">
    <div class="section">
        <div class="about">
            <span data-i18n="about.one"></span>
            <br><br>
            <span data-i18n="about.two"></span>
            <br><br>
            <span data-i18n="about.three"></span>
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>