<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>活动公告 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

#include("./layout/ad.html")
<div class="activity-box">
    <div class="section">
        <div class="activity">
            <div id="aIntro" style="display: none;"></div>
            <div class="activity-title" id="aTitle"></div>
            <div class="activity-time" id="aTime"></div>
            <div class="activity-content" id="aContent"></div>
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>