<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>控制台</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

#include("./layout/ad.html")
<div class="control-wrap">
    <div class="section">
        <div class="title">控制台</div>
        <div class="name">
            <table>
                <thead>
                <tr>
                    <th>币种</th>
                    <th>在线机器</th>
                    <th>离线机器</th>
                    <th>最低算力</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ETC</td>
                    <td>5</td>
                    <td>2</td>
                    <td>2.148T</td>
                    <td>查看收益</td>
                </tr>
                <tr>
                    <td>ETF</td>
                    <td>5</td>
                    <td>2</td>
                    <td>2.148T</td>
                    <td>查看收益</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="title">常用工具</div>
        <ul>
            <li>收益计算器</li>
            <li>算力预估</li>
            <li>报警设置</li>
        </ul>
    </div>
</div>

<div class="error-wrap">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>