<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title id="html-title"></title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

<!--搜索栏-->
<div class="search-box">
    <div class="form">
        <span class="fa fa-search"></span>
        <input type="text" id="address" data-i18n="">
        <input type="button" id="search" data-i18n="[value]input.search">
    </div>
</div>

<!--主要显示区-->
<div class="section">
    <div class="coin-logo"></div>
    <p class="coin-name"></p>
    <ul class="coin-title tab-title">
        <li page="home" class="active"><a href="javascript:;"><span id="coin-name"></span><span data-i18n="currency.home"></span></a>
        </li>
        <li page="teach">
            <a href="javascript:;"><span data-i18n="currency.miningTutorial"></span><i class="fa fa-angle-down btmIcon"></i></a>
            <ul class="btmType">
                <li><a href="javascript:;" data-i18n="currency.B3Mining"></a></li>
                <li class="active"><a href="javascript:;" data-i18n="currency.GraphicMining"></a></li>
                <div class="btmType-arrow"></div>
            </ul>
        </li>
        <li page="information"><a href="javascript:;" data-i18n="currency.blockInformation"></a></li>
        <li page="mine"><a href="javascript:;" data-i18n="currency.myPool"></a></li>
        <!--<li page="problem"><a href="javascript:;" data-i18n="currency.FAQ"></a></li>-->
    </ul>
</div>
<div class="coin-info">
    <div class="home tab" style="display: block">
        <div class="section">
            <ul class="coin-intro">
                <li>
                    <div class="data-title" data-i18n="currency.minerOnline"></div>
                    <div class="data-number" id="workers"></div>
                    <div class="icon"><i class="fa fa-user-o"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="table.poolHashrate"></div>
                    <div class="data-number" id="pool_hash"></div>
                    <div class="icon"><i class="fa fa-object-ungroup"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="currency.packedBlock"></div>
                    <div class="data-number maturedTotal"></div>
                    <div class="icon"><i class="fa fa-sliders"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="table.netWorkDifficulty"></div>
                    <div class="data-number" id="net_diff"></div>
                    <div class="icon"><i class="fa fa-globe"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="table.price">价格</div>
                    <div class="data-number" id="price"></div>
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="currency.lastBlock"></div>
                    <div class="data-number" id="last-one"></div>
                    <div class="icon"><i class="fa fa-hourglass-o"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="currency.miningBlock"></div>
                    <div class="data-number" id="blocks"></div>
                    <div class="icon"><i class="fa fa-sitemap"></i></div>
                </li>
                <li>
                    <div class="data-title" data-i18n="currency.luckyValue"></div>
                    <div class="data-number" id="lucky"></div>
                    <div class="icon"><i class="fa fa-diamond"></i></div>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="mine-calc">
                <div class="title same-title" data-i18n="table.poolHashrate"></div>
                <div class="chart" id="calc-chart"></div>
            </div>
            <div class="mine-feature">
                <div class="same-title" data-i18n="currency.characteristic"></div>
                <ul class="feature">
                    <li>
                        <div class="feature-box">
                            <div class="number">01</div>
                            <div class="text">
                                <p id="mPrice"></p>
                                <p data-i18n="currency.leastPayout"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box">
                            <div class="number">02</div>
                            <div class="text">
                                <p id="everyTime" data-i18n="currency.settleEveryHalfAnHour"></p>
                                <p data-i18n="currency.settlementTime"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box">
                            <div class="number">03</div>
                            <div class="text">
                                <p id="payment"></p>
                                <p data-i18n="currency.poolRate"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box">
                            <div class="number">04</div>
                            <div class="text">
                                <p>PPLNS</p>
                                <p data-i18n="currency.costRewardSystem"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box">
                            <div class="number">05</div>
                            <div class="text">
                                <p><span id="reward"></span>+<span data-i18n="currency.tradeCost"></span></p>
                                <p data-i18n="currency.blockReward"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box">
                            <div class="number">06</div>
                            <div class="text">
                                <p data-i18n="currency.easyToLearn"></p>
                                <p data-i18n="currency.noRegister"></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="teach tab">

    </div>
    <div class="information tab">
        <div class="section" id="get-box">
            <div class="info-title" data-i18n="currency.blockTitle"></div>
            <div class="info-stitle"><span data-i18n="currency.blocksTtileOne"></span> <font
                    data-i18n="currency.blocksTtileTwo"></font></div>
            <div class="info-list">
                <ul>
                    <li>
                        <p class="icon"><i class="fa fa-cubes"></i></p>
                        <p class="name" data-i18n="currency.totalBlockCount"></p>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-diamond"></i></div>
                        <div class="name" data-i18n="currency.luckyValue"></div>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <div class="name" data-i18n="currency.uncle"></div>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-shield"></i></div>
                        <div class="name" data-i18n="currency.orphan"></div>
                    </li>
                </ul>
                <div class="clear"></div>
                <table>
                    <tbody id="luckList">
                    <script type="text/html" id="luckList-tp">
                        {{each list as item}}
                        <tr>
                            <td>{{item.number}}</td>
                            <td>{{item.luck}}</td>
                            <td>{{item.uncleRate}}</td>
                            <td>{{item.orphanRate}}</td>
                        </tr>
                        {{/each}}
                    </script>
                    </tbody>
                </table>
            </div>
            <ul class="cubes">
                <li>
                    <div class="cube-bg color-one"></div>
                    <div class="cube-number color-one">
                        <p class="maturedTotal"></p>
                        <p data-i18n="currency.mature"></p>
                    </div>
                </li>
                <li>
                    <div class="cube-bg color-two"></div>
                    <div class="cube-number color-two">
                        <p class="immatureTotal"></p>
                        <p data-i18n="currency.immature"></p>
                    </div>
                </li>
                <li>
                    <div class="cube-bg color-three"></div>
                    <div class="cube-number color-three">
                        <p class="candidatesTotal"></p>
                        <p data-i18n="currency.pending"></p>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="work">
            <div class="section">
                <ul class="work-title">
                    <li class="active"><a href="javascript:;" data-i18n="currency.mature"></a><em
                            class="maturedTotal-small">0</em></li>
                    <li><a href="javascript:;" data-i18n="currency.immature"></a><em class="immatureTotal-small">0</em>
                    </li>
                    <li><a href="javascript:;" data-i18n="currency.pending"></a><em class="candidatesTotal-small">0</em>
                    </li>
                </ul>
                <div class="f-tab" style="display: block;">
                    <table>
                        <thead>
                        <tr>
                            <th data-i18n="currency.height"></th>
                            <th data-i18n="currency.blockHash"></th>
                            <th data-i18n="currency.findTime"></th>
                            <th data-i18n="currency.difficulty"></th>
                            <th data-i18n="currency.profit"></th>
                        </tr>
                        </thead>
                        <tbody id="block-one">
                        <script type="text/html" id="block-one-tp">
                            {{each list as item}}
                            {{if item.orphan == false}}
                            <tr>
                                {{if ('etc' == item.coin || 'eth' == item.coin || 'etf' == item.coin || 'btm' == item.coin)&&item.uncle}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.height}}"
                                       target="_blank">{{item.uncleHeight}}</a></td>
                                {{else if 'etc' == item.coin || 'eth' == item.coin || 'etf' == item.coin || 'btm' == item.coin}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.height}}"
                                       target="_blank">{{item.height}}</a></td>
                                {{else}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.hash}}"
                                       target="_blank">{{item.height}}</a></td>
                                {{/if}}

                                {{if item.orphan == false}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.hash}}"
                                       target="_blank">{{item.hash}}</a></td>
                                {{else}}
                                <td><a style="color: #fea112;" href="javascript:;">{{item.hash}}</a></td>
                                {{/if}}
                                <td>{{item.timestamp}}</td>
                                <td>{{item.diff}}</td>
                                {{if item.orphan == false}}
                                <td>{{item.reward}} {{item.dw}}</td>
                                {{else}}
                                <td>0</td>
                                {{/if}}
                            </tr>
                            {{/if}}
                            {{/each}}}
                            </tbody>
                        </script>
                    </table>
                </div>
                <div class="f-tab">
                    <table>
                        <thead>
                        <tr>
                            <th data-i18n="currency.height"></th>
                            <th data-i18n="currency.blockHash"></th>
                            <th data-i18n="currency.findTime"></th>
                            <th data-i18n="currency.difficulty"></th>
                            <th data-i18n="currency.profit"></th>
                        </tr>
                        </thead>
                        <tbody id="block-two">
                        <script type="text/html" id="block-two-tp">
                            {{each list as item}}
                            {{if item.orphan == false}}
                            <tr>
                                {{if ('etc' == item.coin || 'eth' == item.coin || 'etf' == item.coin || 'btm' == item.coin)&&item.uncle}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.height}}"
                                       target="_blank">{{item.uncleHeight}}</a></td>
                                {{else if 'etc' == item.coin || 'eth' == item.coin || 'etf' == item.coin || 'btm' == item.coin}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.height}}"
                                       target="_blank">{{item.height}}</a></td>
                                {{else}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.hash}}"
                                       target="_blank">{{item.height}}</a></td>
                                {{/if}}

                                {{if item.orphan == false}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.hash}}"
                                       target="_blank">{{item.hash}}</a></td>
                                {{else}}
                                <td><a style="color: #fea112;" href="javascript:;">{{item.hash}}</a></td>
                                {{/if}}
                                <td>{{item.timestamp}}</td>
                                <td>{{item.diff}}</td>
                                {{if item.orphan == false}}
                                <td>{{item.reward}} {{item.dw}}</td>
                                {{else}}
                                <td>0</td>
                                {{/if}}
                            </tr>
                            {{/if}}
                            {{/each}}}
                            </tbody>
                        </script>
                    </table>
                </div>
                <div class="f-tab">
                    <table>
                        <thead>
                        <tr>
                            <th data-i18n="currency.height"></th>
                            <th data-i18n="currency.findTime"></th>
                            <th data-i18n="currency.difficulty"></th>
                        </tr>
                        </thead>
                        <tbody id="block-three">
                        <script type="text/html" id="block-three-tp">
                            {{each list as item}}
                            <tr>
                                {{if ('etc' == item.coin || 'eth' == item.coin || 'etf' == item.coin)&&item.uncle}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.height}}"
                                       target="_blank">{{item.uncleHeight}}</a></td>
                                {{else if 'etc' == item.coin || 'eth' == item.coin || 'etf' == item.coin}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.height}}"
                                       target="_blank">{{item.height}}</a></td>
                                {{else}}
                                <td><a style="color: #fea112;" href="{{item.myUrl}}{{item.hash}}"
                                       target="_blank">{{item.height}}</a></td>
                                {{/if}}
                                <td>{{item.timestamp}}</td>
                                <td>{{item.diff}}</td>
                            </tr>
                            {{/each}}}
                            </tbody>
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="mine tab">
        <div class="section">
            <div style="font-size: 20px;margin-top: 100px;" data-i18n="currency.comingSoon"></div>
        </div>
    </div>
</div>

<div id="showImg">
    <div class="wrapper">
        <img id="show">
    </div>
</div>

<!--footer部分-->
#include("./layout/footer.html")
</body>
<script type="text/javascript" src="lib/echarts.min.js"></script>
<script type="text/javascript" src="lib/arttemplate.js"></script>
<script id="baidu"></script>
</html>