<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>下载专区 - 91pool</title>
</head>
<body>
#include("./layout/header.html")
<div class="download">
    <div class="section">
        <div class="wrap" id="etc">
            <div class="download-title">ETC下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">Claymore原版（11.7）</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1w_v1-bJ4bqFUlhvODhdyRw"></a>
                </li>
                <li>
                    <div class="software-title">Claymore原版（11.6）</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1S4-HsJMagm_PIVIoLbcaNw"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="etf">
            <div class="download-title">ETF下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">Claymore原版（11.7）</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1X1R3CoZ1-Hm6byOigmOZDw"></a>
                </li>
                <li>
                    <div class="software-title">Claymore原版（11.6）</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1hSRHuLwGOqPk-aMTDEmyfg"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="hsr">
            <div class="download-title">HSR下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">N卡版</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1asMTofO--wKwpUYskIm7_g"></a>
                </li>
                <li>
                    <div class="software-title">A卡版</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1vY6bPKVIQXesPy-XmPXRYA"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="btm">
            <div class="download-title">BTM下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">NebuTech Windows 5.0</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1i9if7MmEex-lILIv8dafPw"></a>
                </li>
                <li>
                    <div class="software-title">NebuTech Linux 5.0</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1D7awtaFZCBekCY6mo6Z8Gg"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
#include("./layout/footer.html")
</body>
</html>