<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>下载APP - 91pool</title>
    <script type="text/javascript" src="//res.cdn.openinstall.io/openinstall.js"></script>
</head>
<body>
#include("./layout/simple.html")
<div class="back-wrap">
    <div class="first-title"><img src="../images/download_ft.png" width="85%"></div>
    <div class="second-title"><img src="../images/download_st.png" width="50%"></div>
    <div class="back-icon"><img src="../images/download_icon.png" width="70%"></div>
    <div class="slogan"><img src="../images/download_slogan.png" width="70%"></div>
    <div class="wind"><img src="../images/download_wind.png" width="100%"></div>
</div>
<div class="button-wrap">
    <div class="button-position"><button class="downloadButton" id="downloadButton" type="button">下载91pool APP</button></div>
</div>

<div class="iswechat">
    <img class="wechat_img" src="../images/iswechat.png">
    <p class="wechat_ms">请使用默认浏览器打开本页面</p>
</div>
</body>
</html>