<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>下载专区 - 91pool</title>
</head>
<body>
#include("./layout/header.html")
<div class="download">
    <div class="section">
        <div class="wrap" id="etc">
            <div class="download-title">ETC下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">ETC 挖矿入门工具以及教程</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/16nPybcrfywTIKaYo-k5pUw"></a>
                </li>
                <li>
                    <div class="software-title">Claymore最新软件</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1VZ5Wd8uDmI_bq-TB1gb_jw"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="etf">
            <div class="download-title">ETF下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">ETF挖矿教程及相关程序</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1PHW0vHiSzwtGcuheGETrkA"></a>
                </li>
                <li>
                    <div class="software-title">Claymore最新软件</div>
                    <a class="software-icon" target="_blank" href="https://pan.baidu.com/s/1VZ5Wd8uDmI_bq-TB1gb_jw"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="hsr">
            <div class="download-title">HSR下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">HSR挖矿软件以及相关教程</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1GTrnH28HJfbiPzPqhwP1Zg"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="btm">
            <div class="download-title">BTM下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">BTMiner.5.0.Win</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1Phvf3HwmzK6Lnfr3yD7gKQ"></a>
                </li>
                <li>
                    <div class="software-title">BTMiner.5.0.Linux</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1EIP9hOGudjS0rsfsIvNXKA"></a>
                </li>
                <li>
                    <div class="software-title">91pool BTMiner</div>
                    <a class="software-icon" TARGET="_blank" href="https://pan.baidu.com/s/1EfKWqlRSXFB6l6LXsPvRXA"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
#include("./layout/footer.html")
</body>
</html>