<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>下载专区 - 91pool</title>
</head>
<body>
#include("./layout/header.html")
<div class="download">
    <div class="section">
        <div class="wrap" id="etc">
            <div class="download-title">ETC下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">ETC 挖矿入门工具以及教程</div>
                    <a class="software-icon" target="_blank" href="http://download.91pool.com/91pool_ETC_%E6%8C%96%E7%9F%BF%E5%85%A5%E9%97%A8%E5%B7%A5%E5%85%B7%E4%BB%A5%E5%8F%8A%E6%95%99%E7%A8%8B.zip"></a>
                </li>
                <li>
                    <div class="software-title">Claymore最新软件</div>
                    <a class="software-icon" target="_blank" href="http://download.91pool.com/Claymore%E6%9C%80%E6%96%B0%E8%BD%AF%E4%BB%B6.zip"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="etf">
            <div class="download-title">ETF下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">ETF挖矿教程及相关程序</div>
                    <a class="software-icon" target="_blank" href="http://download.91pool.com/91pool_etf%E6%8C%96%E7%9F%BF%E6%95%99%E7%A8%8B%E5%8F%8A%E7%9B%B8%E5%85%B3%E7%A8%8B%E5%BA%8F.zip"></a>
                </li>
                <li>
                    <div class="software-title">Claymore最新软件</div>
                    <a class="software-icon" target="_blank" href="http://download.91pool.com/Claymore%E6%9C%80%E6%96%B0%E8%BD%AF%E4%BB%B6.zip"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="hsr">
            <div class="download-title">HSR下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">HSR挖矿软件以及相关教程</div>
                    <a class="software-icon" TARGET="_blank" href="http://download.91pool.com/HSR%E6%8C%96%E7%9F%BF%E8%BD%AF%E4%BB%B6%E4%BB%A5%E5%8F%8A%E7%9B%B8%E5%85%B3%E6%95%99%E7%A8%8B.zip"></a>
                </li>
            </ul>
        </div>
        <div class="wrap" id="btm">
            <div class="download-title">BTM下载专区</div>
            <div class="download-line"></div>
            <ul class="download-software">
                <li>
                    <div class="software-title">BTMiner.5.0</div>
                    <a class="software-icon" TARGET="_blank" href="http://download.91pool.com/BTMiner_NebuTech_Win_5.0_Beta.zip"></a>
                </li>
                <li>
                    <div class="software-title">BTMiner</div>
                    <a class="software-icon" TARGET="_blank" href="http://download.91pool.com/91poolbtminer_.zip"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
#include("./layout/footer.html")
</body>
</html>