<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <link rel="stylesheet" href="lib/ueditor/themes/default/css/ueditor.css">
    <link rel="stylesheet" href="lib/ueditor/themes/iframe.css">
    <!--<link rel="stylesheet" href="lib/datetimepicker/jquery.datetimepicker.min.css">-->
    <link rel="stylesheet" href="lib/laydate/theme/default/laydate.css">
    <title>编辑公告 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

<div class="edit-box">
    <div class="section">
        <form id="form">
            <input type="hidden" name="id" id="articleId" disabled>
            <div class="title-box">
                <input type="text" placeholder="请输入活动或公告标题" name="title" class="text" id="title" maxlength="50">
            </div>
            <div class="info-box" style="margin-bottom: 15px;">
                <input type="text" placeholder="请输入活动或公告简介" name="introduction" class="text" id="introduction"
                       maxlength="80">
            </div>
            <div class="time-box" style="margin-bottom: 15px;">
                <input type="text" placeholder="请选择时间" name="publishTime" readonly class="text" id="publishTime">
            </div>
            <div class="author-box">
                <input type="text" placeholder="请输入作者" name="author" class="text" id="author" value="91pool"
                       maxlength="10">
            </div>
            <script id="container" type="text/plain" name="content"></script>
            <div class="button-box">
                <button type="button" class="submit" id="submit">提交</button>
            </div>
        </form>
    </div>
</div>

<!--footer部分-->
#include("./layout/footer.html")
<script src="lib/laydate/laydate.js"></script>
</body>
</html>