<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>首页 - 91pool</title>
    <link rel="stylesheet" href="lib/swiper/swiper.min.css">
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

<!--notice公告-->
<div class="notice">
    <div class="section" style="background-color: #eee;">
        <ul class="scroll" id="scroll">
            <script type="text/html" id="scroll-tp">
                {{each list as item}}
                <li><a href="./activity.html?id={{item.id}}" target="_blank" title="{{item.title}}">{{item.title}}</a>
                </li>
                {{/each}}
            </script>
        </ul>
    </div>
</div>
<!--banner-->
<div class="section banner">
    <div class="swiper-container">
        <!--banner图-->
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="text-align: center">
                <a href="./currency.html?coin=xvg-scrypt" target="_blank"><img id="sliderImg" class="sliderImg"
                                                                               src="../images/activity/201807031641_banner.jpg"
                                                                               width="100%"></a>
            </div>
            <div class="swiper-slide" style="text-align: center">
                <a href="./activity.html?id=42" target="_blank"><img class="sliderImg"
                                                                     src="../images/activity/201804231624_banner.jpg"
                                                                     width="100%"></a>
            </div>
        </div>
        <div class="swiper-pagination-white pagination"></div>
    </div>
</div>

<!--货币行情-->
<div class="section market">
    <!--<ul class="market-type">-->
    <!--<li class="active"><a href="javascript:;" data-i18n="table.GraphicMining"></a></li>-->
    <!--<li><a href="javascript:;">ASIC挖矿</a></li>-->
    <!--<li><a href="javascript:;">POS挖矿</a></li>-->
    <!--</ul>-->
    <div class="table-box">
        <table class="table market-info">
            <thead>
            <tr>
                <th data-i18n="table.currency"></th>
                <th data-i18n="table.poolHashrate"></th>
                <th data-i18n="table.poolFee"></th>
                <th data-i18n="table.netWorkHashrate"></th>
                <th data-i18n="table.address"></th>
                <!--<th data-i18n="table.netWorkDifficulty"></th>-->
                <th><span data-i18n="table.price"></span>CNY（<a href="https://www.feixiaohao.com/" target="_blank"
                                                                style="font-size: 12px;color:#333;opacity: .5;"
                                                                data-i18n="table.fromFXH"></a>）
                </th>
                <th data-i18n="table.theoreticalEarnings"></th>
                <th data-i18n="table.calculator"></th>
                <th data-i18n="table.teach"></th>
            </tr>
            </thead>
            <tbody id="coinList">
            <script type="text/html" id="coinList-tp">
                {{each list as item i}}
                {{if item.isShow === true}}
                <tr class="coinType" coin={{item.coin}}>
                    <td><i class="{{item.coin}}_icon"><img src="{{item.imgUrl}}"></i>
                        {{item.upcoin}}
                        {{if item.coin == 'xvg-scrypt'}}<br><span
                                style="font-size: 12px;font-weight: normal;">scrypt</span>{{/if}}
                        {{if item.new}}<span class="new_coin">new</span>{{/if}}
                    </td>
                    <td class="hashrate{{i}}">{{item.hashrate}}</td>
                    <td class="fee{{i}}">{{item.fee}}</td>
                    <td class="netHashrate{{i}}">{{item.netHashrate}}</td>
                    <td>{{item.address}}</td>
                    <td class="{{item.coin}}price"></td>
                    <td class="profit{{i}}">{{item.profit}}</td>
                    <td><a class="calculator" href="javascript:;" calcDw="{{item.upcoin}}" calcShow="{{item.calcShow}}"
                           calcKb="{{item.calcKb}}"><img src="../images/calculator.png"></a></td>
                    <td><a title="{{item.upcoin}}{{item.word}}" class="teach" href="javascript:;"><img
                            src="../images/teach_icon.png"></a></td>
                </tr>
                {{/if}}
                {{/each}}
            </script>
            </tbody>
        </table>
    </div>
</div>

<div class="calculator-dialog hidden" id="calculator">
    <div class="calculator-wrap">
        <div class="calculator-title">收益计算器</div>
        <div class="calculator-content">
            <div class="hash">
                <label><font>算力</font></label>
                <input id="hashText" type="text" placeholder="请输入算力" type="number" pattern="\d*">
                <span id="showHash"></span>
                <ul class="chooseHash">
                    <li>KH/s</li>
                    <li>MH/s</li>
                    <li>GH/s</li>
                    <li>TH/s</li>
                </ul>
            </div>
            <div class="change"><img src="../images/change.png"></div>
            <div class="get">
                <label>收益</label>
                <input type="text" id="getText" disabled>
                <span id="getdw"></span>
            </div>
            <div class="clear"></div>
            <div class="little-tips">温馨提示：收益计算器采用当前难度估算PPLNS理论收益，可能与您的实际收益产生偏差，仅供参考！</div>
        </div>
        <div class="calculator-close"><a href="javascript:;" id="calculator-close"><img src="../images/close.png"></a>
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")

</body>
<script type="text/javascript" src="lib/swiper/swiper.min.js"></script>
<script type="text/javascript" src="lib/arttemplate.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?1e879d382f50006c81fc7a1b0d688da0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>