<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>活动公告 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")
<div class="banner"></div>
<div class="notice-box">
    <div class="section">
        <ul class="notice-title" id="notice-title">
            <script type="text/html" id="notice-title-tp">
                {{each list as item i}}
                <li>
                    <div class="time fl">
                        <div class="month">{{item.month}}</div>
                        <div class="day">{{item.day}}</div>
                    </div>
                    <div class="info-box fr">
                        <p class="title"><a href="./activity.html?id={{item.id}}" target="_blank" title="{{item.title}}">{{item.title}}</a></p>
                        <p class="from">{{item.author}}</p>
                        <div class="intro">
                            <a href="./activity.html?id={{item.id}}" target="_blank" title="{{item.introduction}}">{{item.introduction}}</a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </script>
        </ul>
        <!--<div class="notice-container">-->
            <!--<div class="notice-container-title" id="aTitle"></div>-->
            <!--<div class="notice-container-time" id="aTime"></div>-->
            <!--<div class="notice-container-content" id="aContent"></div>-->
        <!--</div>-->
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
<script type="text/javascript" src="lib/arttemplate.js"></script>
</html>