<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>服务协议 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")
<div class="banner"></div>

<div class="order-box">
    <div class="section">
        <div class="order">
            <span data-i18n="protocol.a"></span>
            <br><br>
            <span data-i18n="protocol.b"></span>
            <br><br>
            <span data-i18n="protocol.c"></span>
            <br><br>
            <b><span data-i18n="protocol.d"></span></b>
            <br><br>
            <span data-i18n="protocol.e"></span>
            <br><br>
            <span data-i18n="protocol.f"></span>
            <br><br>
            <span data-i18n="protocol.g"></span>
            <br><br>
            <span data-i18n="protocol.h"></span>
            <br><br>
            <span data-i18n="protocol.i"></span>
            <br><br>
            <span data-i18n="protocol.j"></span>
            <br>
            <br>
            <b><span data-i18n="protocol.k"></span></b>
            <br><br>
            <span data-i18n="protocol.l"></span>
            <br><br>
            <span data-i18n="protocol.m"></span>
            <br><br>
            <span data-i18n="protocol.n"></span>
            <br><br>
            <b><span data-i18n="protocol.o"></span></b>
            <br><br>
            <span data-i18n="protocol.p"></span>
            <br><br>
            <span data-i18n="protocol.q"></span>
            <br><br>
            <span data-i18n="protocol.r"></span>
            <br><br>
            <span data-i18n="protocol.s"></span>s
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>