<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>服务协议 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")
<div class="banner"></div>

<div class="order-box">
    <div class="section">
        <div class="order">
            欢迎来到91POOL！
            <br><br>
            欢迎您使用我们的产品和服务。我们的服务由91POOL团队提供。
            <br><br>
            通过使用我们的服务，您同意遵守以下服务条款。请您仔细阅读，如果您在我们平台使用，则认为您已阅读并同意服务条款。
            <br><br>
            <b>关于服务中提供给您的任何政策。</b>
            <br><br>
            1. 您不得使用除我们提供的接口和说明以外的方法干涉、试图干扰服务或访问网站和服务。否则，将视为您同意承担因违反服务条款而承担任何直接或间接的损失。
            <br><br>
            2.在使用我们的服务时，通过登录或使用第三方的任何网站、应用程序和服务时，您同意并遵守您与我们之间的协议。
            <br><br>
            3.91POOL不会审核或认可任何请求访问您的私有信息的第三方网站，并对这些网站不承担任何责任。如果您不信任请求您信息的网站，则不应该批准该请求。
            <br><br>
            4.使用我们的服务不会赋予您对我们服务中的任何知识产权或您访问的内容的所有权。除非获得相关的许可或法律允许，否则您不得使用与我们相关的内容。本服务条款不授予您使用我们服务中使用的任何品牌或徽标的权利。您不得删除，隐藏或更改我们服务中显示的任何法律声明。
            <br><br>
            5.您可以随时停止使用我们的服务，91POOL也可能会停止向您提供服务，或随时为我们的服务添加或创建新的限制。
            <br><br>
            6.我们相信您拥有您的数据并保留您访问此类数据的重要性。如果我们在合理可能的情况下停止提供服务，我们将提前给您提供合理通知。
            <br>
            <br>
            <b>关于我们的责任</b>
            <br><br>
            1.除法律允许外，91POOL平台不对您的数据缺失或经济损失，以及相关的财务损失或任何直接、间接或者不可避免的意外损失负责。
            <br><br>
            2.在任何情况下，91POOL团队均不承担任何无法合理预见的损失或相关的损害责任。
            <br><br>
            2. 如果您将服务用于个人目的，则服务条款或附加条款中的任何内容均不会限制任何消费者的合法权利。
            <br><br>
            <b>关于这些条款</b>
            <br><br>
            1.我们可能会修改、添加或删除部分服务条款或适用于特定服务的任何其他条款，例如，以反映法律的变更或我们服务的更改。你应该定期检查这些条款。如果您不同意服务的修改条款，则应停止使用该服务。
            <br><br>
            2.如果服务条款与附加条款之间存在冲突，则附加条款将控制您对该特定服务的使用。
            <br><br>
            3.服务条款仅仅在91POOL和您之间生效。他不会创造任何第三方受益权。
            <br><br>
            4.因服务条款或服务而产生或与之相关的任何争议我们都将在中国法律框架内进行维权。所有与服务条款或与服务相关的索赔都将仅在中国大陆提交。

        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>