<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>注册 - 91pool</title>
</head>
<body>
#include("./layout/simple.html")
<div class="box">
    <div class="logo fl">欢迎注册91pool，一个最专业、最稳定的矿池!</div>
    <ul class="nav-title fr">
        <li>已有账号，<a href="./login.html">马上登录</a></li>
        <li><a href="/">返回91POOL</a></li>
    </ul>
    <div class="clear"></div>
    <div class="section">
        <div class="title">注册会员</div>
        <div class="content">
            <form>
                <input type="text" name="phone" placeholder="请输入手机号">
                <div class="checkbox">
                    <input type="checkbox">
                    <label><em>我已阅读并接受<span>用户协议</span></em></label>
                </div>
                    <input type="button" value="注册">
            </form>
            <div class="third">
                <div class="third-title">第三方登录</div>
                <ul class="third-name">
                    <li class="wechat" title="微信"><a href="javascript:;"><i class="fa fa-wechat"></i></a></li>
                    <li class="weibo" title="微博"><a href="javascript:;"><i class="fa fa-weibo"></i></a></li>
                    <li class="QQ" title="QQ"><a href="javascript:;"><i class="fa fa-qq"></i></a></li>
                </ul>
            </div>
            <div class="copy">
                <ul class="language">
                    <li class="active"><a href="javascript:;">中文</a></li>
                    <li><a href="javascript:;">English</a></li>
                    <li><a href="javascript:;">Русский</a></li>
                </ul>
                <p>© 91 Pool   沪ICP备16035023号-2</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>