<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title id="html-title"></title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

<div class="banner"></div>
<div class="problem">
    <div class="section">
        <ul class="support">
            <li style="height: 178px;">
                <div class="title" data-i18n="currency.faqOne"></div>
                <div class="content" data-i18n="currency.faqOneAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqTwo"></div>
                <div class="content" data-i18n="currency.faqTwoAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqThree"></div>
                <div class="content" data-i18n="currency.faqThreeAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqFour"></div>
                <div class="content" data-i18n="currency.faqFourAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqFive"></div>
                <div class="content" data-i18n="currency.faqFiveAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqSix"></div>
                <div class="content" data-i18n="currency.faqSixAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqSeven"></div>
                <div class="content" data-i18n="currency.faqSevenAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqEight"></div>
                <div class="content" data-i18n="currency.faqEightAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqNine"></div>
                <div class="content" data-i18n="currency.faqNineAn"></div>
            </li>
            <li>
                <div class="title" data-i18n="currency.faqTen"></div>
                <div class="content" data-i18n="currency.faqTenAn"></div>
            </li>

        </ul>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>