<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title id="html-title"></title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

#include("./layout/ad.html")
<div class="problem">
    <div class="section">
        <ul class="support">
            <li style="height: 178px;">
                <div class="title" data-i18n="support.1"></div>
                <div class="content" data-i18n="support.1An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.2"></div>
                <div class="content" data-i18n="support.2An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.3"></div>
                <div class="content" data-i18n="support.3An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.4"></div>
                <div class="content" data-i18n="support.4An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.5"></div>
                <div class="content" data-i18n="support.5An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.6"></div>
                <div class="content" data-i18n="support.6An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.7"></div>
                <div class="content" data-i18n="support.7An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.8"></div>
                <div class="content" data-i18n="support.8An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.9"></div>
                <div class="content" data-i18n="support.9An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.10"></div>
                <div class="content" data-i18n="support.10An"></div>
            </li>
            <li>
                <div class="title" data-i18n="support.11"></div>
                <div class="content" data-i18n="support.11An"></div>
            </li>

        </ul>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
</html>