<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>矿工详情 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

<div class="status">
    <div class="section">
        <ul class="all-status">
            <li>
                <div class="title" data-i18n="worker.immatureProfit"></div>
                <div class="number color-green" id="immature"></div>
                <div class="tips" data-i18n="worker.IPtips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.matureProfit"></div>
                <div class="number color-orange" id="balance"></div>
                <div class="tips" data-i18n="worker.MPtips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.pendingProfit"></div>
                <div class="number color-blue" id="pending"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.paid"></div>
                <div class="number color-red" id="paid"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.lastBeat"></div>
                <div class="number" id="lastShare"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.onlineWorker"></div>
                <div class="number workersOnline"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title"><span data-i18n="worker.hashrate"></span>（30<span data-i18n="worker.m"></span>）</div>
                <div class="number" id="currentHashrate"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title"><span data-i18n="worker.hashrate"></span>（3<span data-i18n="worker.h"></span>）</div>
                <div class="number" id="hashrate"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.findBlock"></div>
                <div class="number" id="blocksFound"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.paymentTimes"></div>
                <div class="number" id="paymentsTotal"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title" data-i18n="worker.roundShare"></div>
                <div class="number" id="percents"></div>
                <div class="tips" data-i18n="worker.RStips"></div>
            </li>
            <!--<li class="empty">-->
            <!--<div class="title"></div>-->
            <!--<div class="number"></div>-->
            <!--<div class="tips"></div>-->
            <!--</li>-->
        </ul>
    </div>
</div>

<div class="chart-box">
    <div class="section">
        <div class="title">Miner Hashrate</div>
        <div id="chart" style="height: 500px"></div>
    </div>
</div>

<div class="work">
    <div class="section">
        <ul class="work-title">
            <li class="active"><a href="javascript:;" data-i18n="worker.online"></a><em class="workersOnline"></em></li>
            <li><a href="javascript:;" data-i18n="worker.offline"></a><em class="workersOffline"></em></li>
            <li><a href="javascript:;" data-i18n="worker.payment"></a></li>
        </ul>
        <div class="tab f-tab" style="display: block;">
            <table>
                <thead>
                <tr>
                    <th data-i18n="worker.name"></th>
                    <th><span data-i18n="worker.hashrate"></span>（30<span data-i18n="worker.m"></span>）</th>
                    <th><span data-i18n="worker.hashrate"></span>（3<span data-i18n="worker.h"></span>）</th>
                    <th data-i18n="worker.recentCommit"></th>
                </tr>
                </thead>
                <tbody id="workerOnline">
                <script type="text/html" id="workerOnline-tp">
                    {{each list as item}}
                    {{if item.offline === false}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.hr}}</td>
                        <td>{{item.hr2}}</td>
                        <td>{{item.lastBeat}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </script>
            </table>
        </div>
        <div class="tab f-tab">
            <table>
                <thead>
                <tr>
                    <th data-i18n="worker.name"></th>
                    <th><span data-i18n="worker.hashrate"></span>（30<span data-i18n="worker.m"></span>）</th>
                    <th><span data-i18n="worker.hashrate"></span>（3<span data-i18n="worker.h"></span>）</th>
                    <th data-i18n="worker.recentCommit"></th>
                </tr>
                </thead>
                <tbody id="workerOffline">
                <script type="text/html" id="workerOffline-tp">
                    {{each list as item}}
                    {{if item.offline === true}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.hr}}</td>
                        <td>{{item.hr2}}</td>
                        <td>{{item.lastBeat}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </script>
            </table>
        </div>
        <div class="tab f-tab">
            <table>
                <thead>
                <tr>
                    <th data-i18n="worker.time"></th>
                    <th data-i18n="worker.TXhash"></th>
                    <th data-i18n="worker.profit"></th>
                </tr>
                </thead>
                <tbody id="payList">
                <script type="text/html" id="payList-tp">
                    {{each list as item}}
                    <tr>
                        <td>{{item.timestamp}}</td>
                        <td><a style="color: #fea112;" href="https://gastracker.io/tx/{{item.tx}}" target="_blank">{{item.text}}</a>
                        </td>
                        <td>{{item.amount}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </script>
            </table>
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
<script type="text/javascript" src="lib/echarts.min.js"></script>
<script type="text/javascript" src="lib/arttemplate.js"></script>
</html>