<!DOCTYPE html>
<html lang="en">
<head>
    #include("./layout/head-common.html")
    <title>矿工详情 - 91pool</title>
</head>
<body>
<!--header部分-->
#include("./layout/header.html")

<div class="status">
    <div class="section">
        <ul class="all-status">
            <li>
                <div class="title">未成熟收益</div>
                <div class="number color-green" id="immature"></div>
                <div class="tips">待全网确认120个块后成熟</div>
            </li>
            <li>
                <div class="title">未支付收益</div>
                <div class="number color-orange" id="balance"></div>
                <div class="tips">区块已成熟但未支付收益</div>
            </li>
            <li>
                <div class="title">支付中收益</div>
                <div class="number color-blue" id="pending"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">已支付收益</div>
                <div class="number color-red" id="paid"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">最近提交</div>
                <div class="number" id="lastShare"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">在线机器</div>
                <div class="number workersOnline"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">算力（30分钟）</div>
                <div class="number" id="currentHashrate"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">算力（3小时）</div>
                <div class="number" id="hashrate"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">发现区块</div>
                <div class="number" id="blocksFound"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">支付次数</div>
                <div class="number" id="paymentsTotal"></div>
                <div class="tips"></div>
            </li>
            <li>
                <div class="title">本轮分享</div>
                <div class="number" id="percents"></div>
                <div class="tips">占本轮分享的百分比</div>
            </li>
            <!--<li class="empty">-->
                <!--<div class="title"></div>-->
                <!--<div class="number"></div>-->
                <!--<div class="tips"></div>-->
            <!--</li>-->
        </ul>
    </div>
</div>

<div class="chart-box">
    <div class="section">
        <div class="title">Miner Hashrate</div>
        <div id="chart" style="height: 500px"></div>
    </div>
</div>

<div class="work">
    <div class="section">
        <ul class="work-title">
            <li class="active"><a href="javascript:;">工作中</a><em class="workersOnline"></em></li>
            <li><a href="javascript:;">未工作</a><em class="workersOffline"></em></li>
            <li><a href="javascript:;">支付记录</a></li>
        </ul>
        <div class="tab f-tab" style="display: block;">
            <table id="workerOnline">
                <script type="text/html" id="workerOnline-tp">
                    <thead>
                    <tr>
                        <th>矿机名</th>
                        <th>算力（30分钟）</th>
                        <th>算力（3小时）</th>
                        <th>最近提交时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each list as item}}
                    {{if item.offline === false}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.hr}}</td>
                        <td>{{item.hr2}}</td>
                        <td>{{item.lastBeat}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </script>
            </table>
        </div>
        <div class="tab f-tab">
            <table id="workerOffline">
                <script type="text/html" id="workerOffline-tp">
                    <thead>
                    <tr>
                        <th>矿机名</th>
                        <th>算力（30分钟）</th>
                        <th>算力（3小时）</th>
                        <th>最近提交时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each list as item}}
                    {{if item.offline === true}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.hr}}</td>
                        <td>{{item.hr2}}</td>
                        <td>{{item.lastBeat}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </script>
            </table>
        </div>
        <div class="tab f-tab">
            <table id="payList">
                <script type="text/html" id="payList-tp">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>交易Hash</th>
                        <th>收益</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each list as item}}
                    <tr>
                        <td>{{item.timestamp}}</td>
                        <td><a style="color: #fea112;" href="https://gastracker.io/tx/{{item.tx}}" target="_blank">{{item.text}}</a>
                        </td>
                        <td>{{item.amount}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </script>
            </table>
        </div>
    </div>
</div>
<!--footer部分-->
#include("./layout/footer.html")
</body>
<script type="text/javascript" src="lib/echarts.min.js"></script>
<script type="text/javascript" src="lib/arttemplate.js"></script>
</html>