
.section {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
}

/*兼容分辨率*/

@media (max-width: 700px) {

}

@media (min-width: 768px) and (max-width: 992px) {
    .section {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .section {
        width: 1170px;
    }
}